<mat-card class="card-detail">
  <mat-card-header>
    <mat-card-title>{{detail.title}}</mat-card-title>
    <mat-card-subtitle>{{detail.release_date}}</mat-card-subtitle>
    <mat-card-subtitle><p>
      <strong *ngIf="detail.adult; else elseblock;">18+</strong>
      <ng-template #elseblock><strong>UA</strong></ng-template>
    </p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      <strong>Language: </strong>{{detail.original_language}}
    </p>
    <p>
      <strong>Overview: </strong>{{detail.overview}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="added; else elseBlock;" mat-button>ADD</button>
    <ng-template #elseBlock>
      <button mat-button>UPDATE</button>
      <button mat-button>DELETE</button>
    </ng-template>
  </mat-card-actions>
</mat-card>