<mat-card class="movie-preview">
  <mat-card-header>
    <mat-card-title> {{ movieInfo.title }} </mat-card-title>
    <mat-card-subtitle> {{ movieInfo.release_date }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='{{ "https://image.tmdb.org/t/p/w185/"+ movieInfo.poster_path}}' alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button *ngIf="added; else elseBlock;" mat-button>ADD</button>
    <ng-template #elseBlock>
      <button mat-button>UPDATE</button>
      <button mat-button>DELETE</button>
    </ng-template>
  </mat-card-actions>
</mat-card>